In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw03.ipynb")

# Homework 3: Table Manipulation

<!-- BEGIN QUESTION -->

What is your name?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

Please complete this notebook by filling in the cells provided. 

**Throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Moreover, please be sure to only put your written answers in the provided cells.

In [ ]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

## 1. Unemployment
(This section is based on [Data 8 hw 03](https://github.com/data-8/materials-sp20/tree/master/materials/sp20/hw/hw03) section 1.)

The Federal Reserve Bank of St. Louis publishes data about jobs in the US.  Below, we've loaded data on unemployment in the United States. There are many ways of defining unemployment, and our dataset includes two notions of the unemployment rate:

1. Among people who are able to work and are looking for a full-time job, the percentage who can't find a job.  This is called the Non-Employment Index, or NEI.
2. Among people who are able to work and are looking for a full-time job, the percentage who can't find any job *or* are only working at a part-time job.  The latter group is called "Part-Time for Economic Reasons", so the acronym for this index is NEI-PTER.  (Economists are great at marketing.)

The source of the data is [here](https://fred.stlouisfed.org/categories/33509).

**Question 1.** The data are in a CSV file called `unemployment.csv`.  Load that file into a table called `unemployment`.

In [ ]:
unemployment = ...
unemployment

In [ ]:
grader.check("q1_1")

**Question 2.** Sort the data in descending order by NEI, naming the sorted table `by_nei`.  Create another table called `by_nei_pter` that's sorted in descending order by NEI-PTER instead.

In [ ]:
by_nei = ...
by_nei_pter = ...

In [ ]:
grader.check("q1_2")

**Question 3.** Use `take` to make a table containing the data for the 10 quarters when NEI was greatest.  Call that table `greatest_nei`.

`greatest_nei` should be sorted in descending order of `NEI`. Note that each row of `unemployment` represents a quarter.

In [ ]:
greatest_nei = ...
greatest_nei

In [ ]:
greatest_nei.take(0).column(0).item(0) == '2009-10-01'

**Question 4.** It's believed that many people became PTER (recall: "Part-Time for Economic Reasons") in the "Great Recession" of 2008-2009.  NEI-PTER is the percentage of people who are unemployed (and counted in the NEI) plus the percentage of people who are PTER.  Compute an array containing the percentage of people who were PTER in each quarter.  (The first element of the array should correspond to the first row of `unemployment`, and so on.)

*Note:* Use the original `unemployment` table for this.

In [ ]:
pter = ...
pter

In [ ]:
grader.check("q1_4")

**Question 5.** Add `pter` as a column to `unemployment` (named "PTER") and sort the resulting table by that column in descending order.  Call the table `by_pter`.

Try to do this with a single line of code, if you can.

In [ ]:
by_pter = ...
by_pter

In [ ]:
grader.check("q1_5")

## 2. Birth Rates
(This section is based on [Data 8 hw 03](https://github.com/data-8/materials-sp20/tree/master/materials/sp20/hw/hw03) section 2.)

The following table gives census-based population estimates for each state on both July 1, 2015 and July 1, 2016. The last four columns describe the components of the estimated change in population during this time interval. **For all questions below, assume that the word "states" refers to all 52 rows including Puerto Rico & the District of Columbia.**

The data was taken from [here](http://www2.census.gov/programs-surveys/popest/datasets/2010-2016/national/totals/nst-est2016-alldata.csv).

If you want to read more about the different column descriptions, click [here](http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/totals/nst-est2015-alldata.pdf)!

The raw data is a bit messy - run the cell below to clean the table and make it easier to work with.

In [ ]:
# Don't change this cell; just run it.
pop = Table.read_table('nst-est2016-alldata.csv').where('SUMLEV', 40).select([1, 4, 12, 13, 27, 34, 62, 69])
pop = pop.relabeled('POPESTIMATE2015', '2015').relabeled('POPESTIMATE2016', '2016')
pop = pop.relabeled('BIRTHS2016', 'BIRTHS').relabeled('DEATHS2016', 'DEATHS')
pop = pop.relabeled('NETMIG2016', 'MIGRATION').relabeled('RESIDUAL2016', 'OTHER')
pop = pop.with_columns("REGION", np.array([int(region) if region != "X" else 0 for region in pop.column("REGION")]))
pop.set_format([2, 3, 4, 5, 6, 7], NumberFormatter(decimals=0)).show(5)

**Question 1.** Assign `us_birth_rate` to the total US annual birth rate during this time interval. The annual birth rate for a year-long period is the total number of births in that period as a proportion of the population size at the start of the time period.

**Hint:** Which year corresponds to the start of the time period?

In [ ]:
us_birth_rate = ...
us_birth_rate

In [ ]:
grader.check("q2_1")

**Question 2.** Assign `movers` to the number of states for which the **absolute value** of the **annual rate of migration** was higher than 1%. The annual rate of migration for a year-long period is the net number of migrations (in and out) as a proportion of the population size at the start of the period. The `MIGRATION` column contains estimated annual net migration counts by state.

In [ ]:
migration_rates = ...
movers = ...
movers

In [ ]:
grader.check("q2_2")

**Question 3.** Assign `west_births` to the total number of births that occurred in region 4 (the Western US). 

**Hint:** Make sure you double check the type of the values in the region column, and appropriately filter (i.e. the types must match!).

In [ ]:
west_births = ...
west_births

In [ ]:
grader.check("q2_3")

**Question 4.** Assign `less_than_west_births` to the number of states that had a total population in 2016 that was smaller than the *total number of births in region 4 (the Western US)* during this time interval.

In [ ]:
less_than_west_births = pop.where('2016', are.below(west_births)).num_rows
less_than_west_births

In [ ]:
grader.check("q2_4")

### 3. Burrito-ful San Diego
(This section is based on [Data 8 hw 04](https://github.com/data-8/materials-sp20/tree/master/materials/sp20/hw/hw04) section 1.)

Tam, Margaret and Winifred are trying to use Data Science to find the best burritos in San Diego! Their friends Irene and Maya provided them with two comprehensive datasets on many burrito establishments in the San Diego area taken from (and cleaned from): https://www.kaggle.com/srcole/burritos-in-san-diego/data

The following cell reads in a table called `ratings` which contains names of burrito restaurants, their Yelp rating, Google rating, as well as their Overall rating. It also reads in a table called `burritos_types` which contains names of burrito restaurants, their menu items, and the cost of the respective menu item at the restaurant.

In [ ]:
#Just run this cell
ratings = Table.read_table("ratings.csv")
ratings.show(5)
burritos_types = Table.read_table("burritos_types.csv")
burritos_types.show(5)

**Question 3.1.** It would be easier if we could combine the information in both tables. Assign `burritos` to the result of joining the two tables together.

*Note: it doesn't matter which table you put in as the argument to the table method, either order will work for the autograder tests.*

*Hint: If you need refreshers on table methods, look at the [Data 8 python reference](http://data8.org/sp20/python-reference.html).*

In [ ]:
burritos = ...
burritos.show(5)

In [ ]:
grader.check("q3_1was1_1")

Here's a refresher on how `.group` works! You can read how `.group` works in the [Data 8 textbook](https://www.inferentialthinking.com/chapters/08/2/Classifying_by_One_Variable.html), or you can view the video below. The video resource was made by a past Data 8 staff member - Divyesh Chotai!

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("HLoYTCUP0fc")

**Question 3.2.** From the `burritos` table, some of the restaurant locations have multiple reviews. Winifred thinks California burritos are the best type of burritos, and wants to see the average overall rating for California burritos at each location. Create a table that has two columns: the name of the restaurant and the average overall rating of California burritos at each location.

*Tip: Revisit the burritos table to see how California burritos are represented.*

*Note: you can break up the solution into multiple lines, as long as you assign the final output table to `california_burritos`! For reference however, the staff solution only used one line.*

In [ ]:
california_burritos = ...
california_burritos

In [ ]:
grader.check("q3_2was1_4")

**Question 3.3.** Given this new table `california_burritos`, Winifred can figure out the name of the restaurant with the highest overall average rating! Assign `best_restaurant` to a line of code that evaluates to a string that corresponds to the name of the restaurant with the highest overall average rating.

In [ ]:
best_restaurant = ...
best_restaurant

In [ ]:
grader.check("q3_3was1_5")

**Question 3.4.** Using the `burritos` table, assign `menu_average` to a table that has three columns that uniquely pairs the name of the restaurant, the menu item featured in the review, and the average Overall score for that menu item at that restaurant.

*Hint: Use .group, and remember that you can group by multiple columns. Here's an example from the [Data 8 textbook](https://www.inferentialthinking.com/chapters/08/3/Cross-Classifying_by_More_than_One_Variable.html)*.

In [ ]:
menu_average = ...
menu_average

In [ ]:
grader.check("q3_4was1_6")

## 4. Faculty salaries
(This section is based on [Data 8 hw 04](https://github.com/data-8/materials-sp20/tree/master/materials/sp20/hw/hw04) section 2.)

This exercise is designed to give you practice using the Table methods `pivot` and `group`. [Here](http://data8.org/sp20/python-reference.html) is a link to the Python reference page in case you need a quick refresher.

Run the cell below to view a demo on how you can use pivot on a table. (Thank you to past Data 8 staff Divyesh Chotai)

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo("4WzXo8eKLAg")

In the next cell, we load a dataset created by the [Daily Cal](http://projects.dailycal.org/paychecker/) which contains Berkeley faculty, their departments, their positions, and their gross salaries in 2015.

In [ ]:
raw_profs = Table.read_table("faculty.csv").where("year", are.equal_to(2015)).drop("year", "title")
profs = raw_profs.relabeled("title_category", "position")
profs

We want to use this table to generate arrays with the names of each professor in each department.

**Question 4.1.** Set `prof_names` to a table with two columns. The first column should be called `department` and have the name of every department once, and the second column should be called `faculty` with each row in that second column containing an *array* of the names of all faculty members in that department. 

*Hint:* Think about how ```group``` works: it collects values into an array and then applies a function to that array. We have defined two functions below for you, and you will need to use one of them in your call to ```group```.

In [ ]:
# Pick one of the two functions defined below in your call to group.
def identity(array):
    '''Returns the array that is passed through'''
    return array 

def first(array):
    '''Returns the first item'''
    return array.item(0)

# Make a call to group using one of the functions above when you define prof_names
prof_names = ...
prof_names

In [ ]:
grader.check("q4_1was2_1")

#### Understanding the code you just wrote is important for moving forward with the class! If you made a lucky guess, take some time to look at the code, step by step.

<!-- BEGIN QUESTION -->

**Question 4.2.** At the moment, the ```name``` column of the `profs` table is sorted by last name. Would the arrays you generated in the `faculty` column of the previous part be the same if we had sorted by first name instead before generating them? Two arrays are the **same** if they contain the same number of elements and the elements located at corresponding indexes in the two arrays are identical. An example of arrays that are NOT the same: `array([1,2]) != array([2,1])`. Explain your answer.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

**Question 4.3.** Set `department_ranges` to a table containing departments as the rows, and the position as the columns. The values in the rows should correspond to a salary range, where range is defined as the **difference between the highest salary and the lowest salary in the department for that position**. 

*Hint:* First you'll need to define a new function `salary_range` which takes in an array of salaries and returns the range of salaries in that array.

In [ ]:
# Define salary_range first
...
    ...

department_ranges = ...
department_ranges

In [ ]:
grader.check("q4_3was2_3")

<!-- BEGIN QUESTION -->

**Question 4.4.** Give an explanation as to why some of the row values are `0` in the `department_ranges` table from the previous question.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

**Question 4.5.** Compute the minimum and maximum `gross_salary` in `profs`. Then set `profs_min_max` to table obtained from `profs` by adding a column named `min_max_salary` with the `gross_salary` rescaled using Min-Max scaling.

In [ ]:
min_gross_salary = ...
max_gross_salary = ...
print(min_gross_salary,max_gross_salary)


profs_min_max = ...
profs_min_max

In [ ]:
grader.check("q4_5")

**Question 4.6.** Compute the mean and standard deviation of `gross_salary` in `profs` (using `np.mean(...)` and `np.std(...)`). Then set `profs_standard` to a table obtained from `profs` by adding a column named `standard_salary` with the `gross_salary` standardized (also known as converted to a Z-score).

In [ ]:
mean_gross_salary = ...
std_gross_salary = ...
print(mean_gross_salary,std_gross_salary)

profs_standard = ...
profs_standard

In [ ]:
grader.check("q4_6")

## Acknowledgements

<!-- BEGIN QUESTION -->

**Acknowledgements:**
If you received help from any person other than your instructor, then describe here what help you received and from whom. 
If not, then say 'None'.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

It is forbidden to: 
* Use the work or programs from students who took this class (in any of its versions at any university).
* Use websites that claim to have solutions for this class (in any of its versions at any university).
* Directly copy from a classmate.

**Did you do anything forbidden while working on this assignment?**

Assign `did_forbidden` to either `True` or `False`.

In [ ]:
did_forbidden = ...

In [ ]:
grader.check("q_forbidden")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

After exporting, submit the .zip file in BlackBoard

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)